#headerimg{
    background-image: url(../../img/arvr.jpg);
    background-position: 0% 25%;
}
.text-link{
    color: #D19AFF;
}

.text-link:hover{
    color: white;
}

.first-vid{
    margin: 20px 20px 0 0;
}

.article-margin{
    margin-top: 100px;
}

.img-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.img-div{
    height: 300px;
    width: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    margin: 20px 20px 0 0;
}

.div-1{
    background-image: url(./img/picca1.jpg);
}

.div-2{
    background-image: url(./img/picca2.jpg);
}